/* ----- Algemene structuur  ----- */


body{
    width:100%;
    height:100%;
    position:absolute;
    color:#000;
    margin: 0;
    background:#eee;
}

section{
    width:100%;
    float:left;
}

section.top{
    /*background-color:blue;*/
}

.sidebar{
    
}

.playArea{
    float: left;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}

.guardArea{
    float: right;
}

.invisible{
    visibility: hidden;    
}

/* ----- Opmaak Infobox ----- */

.guardButton{
    width: 150px;
}

.sidebarheader{
    height:100px;
    width:100%;
    color:#000;
    border-bottom: solid 1px;
}

.gameControl{
    float: left;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
}

.gameControl button{
    font-size: 2em;;
}

#stopButton{
    display: none
}

.cardsleft{
    width:50%;
    float: left;
    padding-top: 30px;
}

.cardsleft p{
    margin:0;
    font-size: 1.5em;
}


/* ----- Opmaak spelersgedeelte ----- */

.playerList{
    
}

.playerName{
    color: gray;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerName:hover{
    cursor: pointer;
}

.ownName{
    color: #000;
}

.activePlayer{
    border:solid 1px green;
}

.dead{
    color:red;
}

.immune{
    color:green;
}


/* ----- Opmaak kaarten  ----- */

.card{
    float:left;
    width:40%;
    margin:2.5%;
    padding-bottom:53.2%;
    text-align: center;
    background-repeat: no-repeat;
    background-size:cover;
    box-shadow: 5px 5px 5px #888888;
    border-bottom: 1px solid #636363;
    border-right: 1px solid #636363;
    border-radius: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Dit is troep. Dit kunnen we netter doen */
.cardfiller{
    width: 0;
    box-shadow: 5px 5px 5px #eee;
    border-bottom: 1px solid #eee;
    border-right: 1px solid #eee;
}

.card:hover{
    cursor: pointer;
}

.guard{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/1_Guard.PNG");
}

.priest{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/2_Priest.PNG");
}

.baron{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/3_Baron.PNG");
}

.handmaid{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/4_Handmaid.PNG");
}

.prince{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/5_Prince.PNG");
}

.king{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/6_King.PNG");
}

.countess{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/7_Countess.PNG");
}

.princess{
    background-image:url("http://eelcobosklopper.com/Loveletter_afbeeldingen/8_Princess.PNG");
}

.cardUnavailable{
    background: gray;
}


/* ----- Notificaties  ----- */

#notificatiebox{
    font-size: 1.5em;
    color: #000;
    width: 75%;
    float: left;
    padding-left: 20px;
}

.infobox{
    font-size: 1.0em;
    color: #000;
    width: 90%;
    float: left;
    text-align: left;
    padding-left: 20px;
    overflow-y: scroll;
    max-height: 300px;
}