/* ----- Algemene structuur  ----- */


body{
    width:100%;
    height:100%;
    position:absolute;
    color:#000;
    margin: 0;
    background:#eee;
}

.sidebar{
    min-height:100%;
    width:19%;
    float:left;
    text-align: center;
    border-right: solid 1px #000;
    box-shadow: 5px 0px 5px #000;
    background:#fff;
}

.playArea{
    height:100%;
    width:80%;
    float:left;
}

.guardArea{
    float: right;
}

.invisible{
    visibility: hidden;    
}

/* ----- Opmaak Infobox ----- */

.guardButton{
    width: 150px;
}

.infobox{
    height:100px;
    width:100%;
    color:#000;
    border-bottom: solid 1px;
}

.startButton{
    width: 50%;
    padding-top: 25px;
    float: left;
}

.startButton button{
    font-size: 2em;
}

.cardsleft{
    width:50%;
    float: left;
    padding-top: 30px;
}

.cardsleft p{
    margin:0;
    font-size: 1.5em;
}


/* ----- Opmaak spelersgedeelte ----- */

.playerList{
    
}

.playerName{
    color: gray;
    padding: 10px;
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playerName:hover{
    cursor: pointer;
}

.ownName{
    color: #000;
}

.activePlayer{
    border:solid 1px green;
}

.dead{
    color:red;
}

.immune{
    color:green;
}


/* ----- Opmaak kaarten  ----- */

.card{
    float:left;
    height:332px;
    width:241px;
    margin: 20px;
    text-align: center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888888;
    border-bottom: 1px solid #636363;
    border-right: 1px solid #636363;
    border-radius: 10px;
    background-image:url("images/0_cardback.PNG");
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card:hover{
    cursor: pointer;
}

.guard{
    background-image:url("images/1_Guard.PNG");
}

.priest{
    background-image:url("images/2_Priest.PNG");
}

.baron{
    background-image:url("images/3_Baron.PNG");
}

.handmaid{
    background-image:url("images/4_Handmaid.PNG");
}

.prince{
    background-image:url("images/5_Prince.PNG");
}

.king{
    background-image:url("images/6_King.PNG");
}

.countess{
    background-image:url("images/7_Countess.PNG");
}

.princess{
    background-image:url("images/8_Princess.PNG");
}

.cardUnavailable{
    background: gray;
}


/* ----- Notificaties  ----- */

#gewonnen_bericht{
    position: absolute;
    text-align: center;
    width: 60%;
    font-size: 10em;
    color: blue;
}

#notificatiebox{
    font-size: 1.5em;
    color: #000;
    width: 75%;
    float: left;
    padding-left: 20px;
}

#gameinfobox{
    font-size: 1.0em;
    color: #000;
    width: 90%;
    float: left;
    text-align: left;
    padding-left: 20px;
    overflow-y: scroll;
    max-height: 400px;
}